<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <h2>Login</h2>

        <form th:action="@{/login}" method="post">

            <input type="text" name="username" placeholder="Email" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>

        </form>

        <p>
            Don't have an account?
            <a th:href="@{/register}">Register</a>
        </p>

        <p style="text-align:center; margin-top:15px;">
            <a th:href="@{/posts}">View Posts (No Login Required)</a>
        </p>

    </div>

</div>

</body>
</html>